{% extends "listagem_dados.html" %}

{% block content %}

{% include "listagem_dados/componentes/_header.html" %}

{% include "listagem_dados/componentes/_stats_cards.html" %}
<!-- Botão para abrir as configurações -->
<div class="mb-3 text-end">
    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
        data-bs-target="#modalColunas">
        <i class="bi bi-layout-three-columns me-1"></i> Personalizar Colunas
    </button>
</div>

{% include "listagem_dados/componentes/_modal_colunas.html" %}

{% include "listagem_dados/componentes/_tabela_estacoes.html" %}

{% endblock %}