<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Dados</title>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="d-flex flex-column col">
                <div>

                    <span>Total de estações</span>
                </div>
                <div>

                    <span>{{ num_estacoes }}</span>
                </div>
                <div>

                    <span>{{ num_municipios }}</span>
                </div>
            </div>

            <div class=" d-flex flex-column col">
                <div>

                    <span>Integradas</span>
                </div>
                <div>

                    <span>{{ num_integrado }}</span>
                </div>
                <div>

                    <span>{{ por_cent_integrado }}% do total</span>
                </div>
            </div>

        </div>

    </div>


</body>

</html>