<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .municipio-cell {
            max-width: 180px;
            white-space: normal;
        }

        /* Animação suave para a seta */
        .icon-rotate {
            transition: transform 0.3s ease-in-out;
            display: inline-block;
        }

        /* Quando a linha (accordion-toggle) estiver expandida (aria-expanded="true"), rotaciona a seta */
        .accordion-toggle[aria-expanded="true"] .icon-rotate {
            transform: rotate(90deg);
        }
    </style>
</head>

<body class="theme-ligh">

    {% block content %}
    {% endblock %}

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/inundacao_urbana/listagem_dados.js"></script>

</body>

</html>