<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3 m-4">
    <!-- Card 1 -->
    <div class="col">
        <div class="stats-card d-flex flex-column rounded-4 p-2 h-100" style="border-left: 6px solid #198754;">
            <span><i class="bi bi-broadcast-pin"></i> Total de estações</span>
            <h4 class="m-0">{{ num_estacoes}}</h4>
            <span class="fs-7">em {{ num_municipios }} municípios</span>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
        <div class="stats-card d-flex flex-column  rounded-4 p-2 h-100"
            style="border-left: 6px solid #015C91 !important;">
            <span><i class="bi bi-link-45deg"></i> integradas</span>
            <h4>{{ num_integrado }}</h4>
            <span class="fs-7">{{ por_cent_integrado }}% do total</span>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
        <div class="stats-card d-flex flex-column   rounded-4 p-2 h-100" style="border-left: 6px solid #e6a817;">
            <span><i class="bi bi-exclamation-triangle-fill"></i> cota atenção</span>
            <h4>{{ num_cota_atencao }}</h4>
            <span class="fs-7">acima da normalidade</span>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col">
        <div class="stats-card d-flex flex-column   rounded-4 p-2 h-100" style="border-left: 6px solid #d85a30;">
            <span><i class="bi bi-bell-fill"></i> cota alerta</span>
            <h4>{{ num_cota_alerta }}</h4>
            <span class="fs-7">proximo de uma inundação</span>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col">
        <div class="stats-card d-flex flex-column   rounded-4 p-2 h-100" style="border-left: 6px solid #ff0100">
            <span><i class="bi bi-water"></i> cota Inundação</span>
            <h4> {{ num_cota_inundacao }}</h4>
            <span class="fs-7">acima de áreas habitadas</span>
        </div>
    </div>
</div>